<div id="<%= dom_id file_upload %>">
  <p>
    <strong>Name:</strong>
    <%= file_upload.name %>
  </p>

  <p>
    <strong>File data:</strong>
    <%= file_upload.file_data %>
  </p>

  <p>
    <strong>User:</strong>
    <%= file_upload.user_id %>
  </p>

</div>
