<h1>Editing file upload</h1>

<%= render "form", file_upload: @file_upload %>

<br>

<div>
  <%= link_to "Show this file upload", @file_upload %> |
  <%= link_to "Back to file uploads", file_uploads_path %>
</div>
