<div id="<%= dom_id audit_log %>">
  <p>
    <strong>Activity:</strong>
    <%= audit_log.activity %>
  </p>

  <p>
    <strong>User:</strong>
    <%= audit_log.user_id %>
  </p>

  <p>
    <strong>Ip address:</strong>
    <%= audit_log.ip_address %>
  </p>

</div>
